.custom-btn {
  margin: auto;
  padding-block: 1px;
  padding-inline: 6px;

  cursor: pointer;
  background: none;
  fill: var(--theme-text-color);
  border: 2px solid var(--theme-card-color);
}

.custom-btn:hover {
  color: var(--theme-card-color);
  fill: var(--theme-card-color);
  background-color: var(--theme-text-color);
  border: 2px solid var(--theme-text-color);
}

.custom-btn > svg {
  fill: var(--theme-text-color);
}

.custom-btn:hover > svg {
  fill: var(--theme-card-color);
  background-color: var(--theme-text-color);
}
