.custom-btn {
  cursor: pointer;
  background: none;
  border: none;
}

.custom-btn:hover {
  border: 2px solid var(--theme-border-color);
  border-radius: 9999px;
}

.close-btn {
  height: 50px;
  width: 50px;
  line-height: 1rem;
  padding: 1rem;
  vertical-align: middle;
  border-radius: 50%;
}
