.weather-main {
  padding: 1rem;
  margin: 1rem 0;

  border-width: 1px;
  border-style: solid;
}

.weather-name {
  display: inline-block;
}

.weather-main > *,
.weather-summary > * {
  margin: 0.5rem 0;
}
