.weather-main {
  margin: 1rem 0;
}

.weather-main > * {
  padding: 1rem;
  background-color: var(--theme-bg-color);
  border-width: 1px;
}

.weather-name {
  display: inline-block;
}

.weather-main > *,
.weather-summary > * {
  margin: 0.5rem 0;
}
