.forecast-details {
  display: grid;
  gap: 1rem;
}

.forecast-details > h2 {
  text-align: center;
}

.forecast-details > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  list-style-type: none;
}

.forecast-details .forecast-card:hover {
  cursor: unset;
  transform: none;
  user-select: unset;
}
