.custom-forecast-card {
  padding: 1rem;

  border-width: 1px;
  border-style: solid;
  background-color: var(--theme-card-color);
}

.custom-forecast-card {
  user-select: none;
}

button.custom-forecast-card:hover {
  cursor: pointer;
  transform: translate(5px, -5px);
}
