body.clear-sky {
  --theme-bg-color: #86b6f6;
  --theme-text-color: #176b87;
  --theme-border-color: #176b87;

  background-color: #eef5ff;
}

body.few-clouds {
  --theme-bg-color: green;
  --theme-text-color: green;

  background-color: yellow;
}

body.scattered-clouds {
  --theme-text-color: black;

  background-color: #cdf5fd;
}

body.broken-clouds {
  --theme-text-color: black;

  background-color: #cdf5fd;
}

body.shower-rain {
  --theme-text-color: black;

  background-color: #cdf5fd;
}

body.rain {
  --theme-text-color: black;

  background-color: #cdf5fd;
}

body.thunderstorm {
  --theme-text-color: black;

  background-color: #cdf5fd;
}

body.snow {
  --theme-text-color: black;

  background-color: #cdf5fd;
}

body.mist {
  --theme-text-color: black;

  background-color: #cdf5fd;
}
