.weather-header {
  padding: 1rem;

  background-color: var(--theme-bg-color);

  border-width: 1px;
  border-style: solid;
  border-top: unset;
  border-radius: 0 0 10px 10px;
}

.header-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.header-card > .weather-search {
  margin: auto 0;
}

.header-card > .controls {
  display: flex;
  flex-wrap: wrap;
}
