.weather-header {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  border: black 1px solid;
  border-top: unset;
  border-radius: 0 0 10px 10px;
}

.weather-header > .weather-search {
  margin: auto 0;
}
