html {
  overflow-y: scroll;
}

.App {
  margin: 0 auto;
  max-width: 1024px;
}

* {
  color: var(--theme-text-color);
  border-color: var(--theme-border-color);
  border-radius: 10px;
}

*::placeholder {
  padding-left: 1rem;
  color: var(--theme-text-color);
  font-style: italic;
}

*:focus {
  outline: 5px solid var(--theme-text-color);
}

.error {
  background-color: black;
  color: white;
}

@media (max-width: 1060px) {
  .App {
    margin: 0 1rem;
  }
}
