.App {
  margin: 0 auto;
  max-width: 1024px;
}

.App > .weather-header {
  background-color: var(--theme-bg-color);
}

.App > .weather-main {
  background-color: var(--theme-bg-color);
}

* {
  color: var(--theme-text-color);
  border-color: var(--theme-border-color);
  border-radius: 10px;
}

*::placeholder {
  padding-left: 1rem;
  color: var(--theme-text-color);
  font-style: italic;
}

*:focus {
  outline: 5px dashed var(--theme-text-color);
}

@media (max-width: 1060px) {
  .App {
    margin: 0 1rem;
  }
}
